.footer {
  background-color: var(--VeryDarkBlue);
  color: var(--LightGrayishBlue);
  padding: 4rem 2rem 2rem 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.footer__logo-holder {
  width: 60%;
  max-width: 10rem;
  margin-bottom: 2.4rem;
}
.footer__logo {
  width: 100%;
  height: auto;
  filter: brightness(0) invert(1);
}

.footer__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;
}
.footer__info-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.2rem;
  margin-bottom: 0.2rem;
}

.footer__info--contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

.footer__info--nav-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.3rem;
}

.footer__info--link {
  text-decoration: none;
  color: var(--LightGrayishBlue);
}
.footer__info--link:hover {
  text-decoration: none;
  color: var(--BrightBlue);
}
.footer__info-social {
  text-align: center;
}
.footer__info-social-link {
  color: var(--LightGrayishBlue);
  border: 1px solid var(--LightGrayishBlue);
  border-radius: 50%;
  margin: 0.4rem;
  text-decoration: none;
}
.footer__info-social-link:hover {
  color: var(--BrightBlue);
  border: 1px solid var(--BrightBlue);
}
.footer__icon--facebook {
  padding: 10px 14px;
}
.footer__icon--twitter {
  padding: 10px 10px;
}
.footer__icon--instagram {
  padding: 10px 12px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: start;
    gap: 15%;
  }
}
